@model Location

<h2>Delete Location</h2>

<div>
    <label>Location Name:</label>
    <span>@Model.LocationName</span>
</div>
<div>
    <label>Location ID:</label>
    <span>@Model.LocationId</span>
</div>
<div>
    <label>Is Clearance:</label>
    <span>@Model.IsClearance</span>
</div>
<button type="submit">Confirm Delete</button>