@model Location

<h2>Delete Location</h2>


<div>
    <label>Location Name:</label>
    @Html.TextBoxFor(m => m.LocationName)
</div>
<div>
    <label>Location ID:</label>
    @Html.TextBoxFor(m => m.LocationId)
</div>
<div>
    <label>Is Clearance:</label>
    @Html.TextBoxFor(m => m.IsClearance)
</div>
<button type="submit">Delete Location</button>
<br />
<a asp-area="" asp-controller="Location" asp-action="Create">Create Location</a>
<a asp-area="" asp-controller="Location" asp-action="Edit">Edit Location</a>
<a asp-area="" asp-controller="Location" asp-action="Index">View Location</a>